element.foreground				 83  64 198 
element.background				255 222 173 
element.highlight				255 255 255 
element.movable					255 173 222 
element.transient				255   0   0 
element.arrow					255   0   0
element.arrow.fc				  0   0 255 

particle.pos.foreground				255  20  20 
particle.pos.background				255 255 255 
particle.pos.earrow				255  20  20 
particle.pos.marrow				  0   0   0 

particle.neg.foreground				 20  20 255
particle.neg.background				255 255 255
particle.neg.earrow				 20  20 255
particle.neg.marrow				  0   0   0 

dipol.foreground				  0   0   0

actionlabel.foreground			 	  0   0   0
actionlabel.background				182 182 220 

controls.foreground			 	  0   0 150 
controls.background				202 202 182 

canvas.background				169 186 193

starter.foreground				255 255 255
starter.background				 10  10 150

loader.foreground				255 255 255
loader.background				 10 150  10
slider.color				         0  100 200 

filemenu					"Datoteka"
filemenu.open					"Odpri"
filemenu.save					"Shrani"
filemenu.quit					"Zapusti"

actionmenu					"Akcija"
actionmenu.editmenu				"Edit"
actionmenu.forcemenu				"Force"
actionmenu.miscmenu				"Misc"
actionmenu.plotmenu				"Plot"


actionmenu.delete				"Zbrisi"
actionmenu.move					"Premakni"
actionmenu.scale				"Velikost"
actionmenu.force.set				"Nastavi silo"
actionmenu.force.del				"Zbrisi silo"
actionmenu.force.circ				"Obodna sila"
actionmenu.force.rotate				"Vrtilna sila"
actionmenu.force.translate		      "Translatorna sila"
actionmenu.setconst				"Integracijska konstanta"
actionmenu.tagmove				"Gibanje objektov"
actionmenu.tagio				      "Prehodnost objektov"
actionmenu.setzero				"Tocka s potencialom nic"
actionmenu.setconstzero				"Zamrzni elektrine"
actionmenu.connect			        "Povezava objektov"
actionmenu.plotlint			        "Delo"
actionmenu.plotpot                              "Potencial"
actionmenu.plotenergy                           "Energija"



createmenu					"Konstuiraj"
createmenu.circle				"Krog"
createmenu.rectangle				"Pravokotnik"
createmenu.ring					"Obroc"
createmenu.particle.pos				"Pozitivene elektrine"
createmenu.particle.neg				"Negativene elektrine"
createmenu.dipol				"Dipol"

nummenu							"Stevilo elektrin"

actionlabel.create.circle			"Akcija: konstruiraj krog"
actionlabel.create.rectangle			"Akcija: konstruiraj pravokotnik"
actionlabel.create.ring				"Action: konstruiraj obroc"
actionlabel.create.particle.pos			"Akcija: konstruiraj pozitivne elektrine"
actionlabel.create.particle.neg			"Akcija: konstruiraj negativne elektrine"
actionlabel.create.dipol			"Akcija: konstruiraj dipol"
actionlabel.delete				"Akcija: zbrisi"
actionlabel.move				"Akcija: premakni"
actionlabel.scale				"Akcija: velikost"
actionlabel.force.set				"Akcija: nastavi silo"
actionlabel.force.del				"Akcija: zbrisi silo"
actionlabel.force.circ				"Akcija: obodna sila"
actionlabel.force.rotate		       "Akcija: vrtilna sila"
actionlabel.force.translate		       "Akcija: translatorna harmonska sila"

actionlabel.setconstzero			"Akcija: zamrzni elektrine"
actionlabel.setconst				"Akcija: nastavi konstanto"
actionlabel.tagmove				"Akcija: postavi objekt (ne) gibljiv"
actionlabel.tagio				"Akcija: postavi objekt (ne)prehoden"
actionlabel.setzero  			        "Akcija: Postavi tocko, kjer je potencial nic"

starter.stop 					"Ustavi"
starter.start	 				"Start"

controls.start 					"Zazeni"
controls.stop 					"Ustavi"
controls.estep 					"Korak E"
controls.mstep 					"Korak B"
controls.bstep 					"Korak XX"
controls.susc 					"Susc"
controls.astep					"Vekt E"
controls.astep.mag				"Vekt B"
controls.magnetism				"Magn"
controls.field 					"Potenc"
controls.fieldclear 				"Zbris"

ppd.name					"Javanski Konstrukcijski Objekti - JaKoB"
ppd.width					800
ppd.height					600

canvas.doublebuffer				true	
canvas.touchoffset			 	25	

particle.radius				 	4	
shadow.offset				 	0
visual3d					"3D prikaz"
visual3d.inc					"Povecaj"
visual3d.dec					"Zmanjsaj"
visual3d.inv					"Obrni"	
