circuit   "Circuit"
time	  "Time"
time.sec  "Time (s)"
voltage	  "Voltage"
voltage.v		"Voltage (V)"
current			    "Current"
current.a			  "Current (A)"
current.rms.a		"RMS Current (A)"
current.rms		  "RMS Current"
voltage.current	"Voltage and Current"
frequency		    "Frequency"
frequency.hz		"Frequency (Hz)"
phase		        "Phase"
deg              "deg"
degree           "degree"
emf              "emf"
ohm		 "Ohm"
battery		 "Battery"
battery.emf      "Battery emf="
switch.on        "Switch on."
switch.off       "Switch off."
load.resistor	 "Load resistor"
load.power	 "Load power"
legend.v        "V"
legend.vequ     "V="
legend.vtime    "V(t)"
legend.deltav   "delta V="
legend.i        "I"
legend.a        "A"
legend.r        "R"
legend.c        "C"
legend.vac      "Vac"
legend.vc       "Vc"
legend.vr       "Vr"
legend.vl       "Vl"
legend.select   "Select a component."
legend.novalue  "Values are not available for this part."
legend.novoltage "Voltage is not available."
legend.voltmeter "Voltmeter: "
legend.ammeter "Ammeter: "
legend.currentphase "Current Phase="
legend.freq "F="




